@font-face {
  font-family: "Digital";
  src: url("../src/fonts/digital-7.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;1,300&display=swap');

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Tillana', cursive;
  background: linear-gradient(45deg, #16213E, #16213E, #83142C, #FF6464);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main .div-background {
  height: 80%;
  width: 70%;
  border-radius: 15px;
  background-color: transparent;
  background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
  background-repeat: repeat;
  background-size: cover;
  box-shadow:  -4px 6px 14px #171820, 4px -6px 14px #00000036;
  opacity: 0.7;
  position: relative;
}

.timer-btn-close {
  background-color: transparent;
  color: #83142C;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  border: none;
  font-weight: 500;
}

.timer-btn-close:hover {
  background-color: #83142c29;
}

main .show-count-container {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

main .show-count-container p {
  background-color: transparent;
  height: 80%;
  width: 70%;
  font-size: 11.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Digital", sans-serif;
}

main .div-background .control-panel {
  background-color: transparent;
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main .div-background .control-panel .inputs-container { 
  background-color: transparent;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5%;
}

main .div-background .control-panel .buttons-container { 
  background-color: transparent;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.inputs-container label {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background-color: transparent;
  font-size: 100%;
  font-family: 'Sarabun', sans-serif;
}

.inputs-container label input {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  background-color: #17182044;
  border: none;
  border-bottom: solid 1px antiquewhite;
  text-align: center;
  min-width: 50px;
}

.inputs-container label input:hover {
  background-color: #38136d61;
}

.buttons-container button {
  width: 20%;
  height: 50%;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  border: solid 1px antiquewhite;
  font-family: 'Sarabun', sans-serif;
  font-size: 95%;
  font-weight: 500;
}

.buttons-container button:hover {
  background-color: #38136dbb;
  transform: scale(1.02);
}